# üìä An√°lisis Exploratorio de Datos - MovieLens 100K

**Objetivo:** Explorar y entender el dataset de pel√≠culas y calificaciones

**Fecha:** 22 de noviembre de 2024

**Dataset:** MovieLens 100K
- 100,000 calificaciones
- 1,682 pel√≠culas
- 943 usuarios

## Contenido
1. Carga de datos
2. Exploraci√≥n inicial
3. Estad√≠sticas descriptivas
4. Visualizaciones
5. Conclusiones

In [4]:
# Importar librer√≠as necesarias
import pandas as pd
import numpy as np


print("‚úÖ Librer√≠as importadas correctamente")

‚úÖ Librer√≠as importadas correctamente

In [5]:
# Cargar el dataset de calificaciones (ratings)
# Formato: user_id | item_id | rating | timestamp

columns = ['user_id', 'item_id', 'rating', 'timestamp']
ratings = pd.read_csv('../data/raw/ml-100k/u.data', 
                      sep='\t', 
                      names=columns,
                      encoding='latin-1')

# Mostrar informaci√≥n b√°sica
print(f"üìä Total de calificaciones: {len(ratings):,}")
print(f"üë• Total de usuarios: {ratings['user_id'].nunique():,}")
print(f"üé¨ Total de pel√≠culas: {ratings['item_id'].nunique():,}")
print("\nüîç Primeras 5 filas:")
ratings.head()

üìä Total de calificaciones: 100,000
üë• Total de usuarios: 943
üé¨ Total de pel√≠culas: 1,682

üîç Primeras 5 filas:

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [6]:
# Cargar informaci√≥n de las pel√≠culas
movie_columns = ['item_id', 'title', 'release_date', 'video_release_date',
                 'imdb_url', 'unknown', 'Action', 'Adventure', 'Animation',
                 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 
                 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery',
                 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

movies = pd.read_csv('../data/raw/ml-100k/u.item', 
                     sep='|', 
                     names=movie_columns,
                     encoding='latin-1')

print(f"üé¨ Total de pel√≠culas en el cat√°logo: {len(movies):,}")
movies.head()

üé¨ Total de pel√≠culas en el cat√°logo: 1,682

,item_id,title,release_date,video_release_date,imdb_url,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
# Estad√≠sticas descriptivas de las calificaciones
print("üìä ESTAD√çSTICAS DE LAS CALIFICACIONES\n")
print(ratings['rating'].describe())

# Distribuci√≥n de calificaciones
print("\nüìà Distribuci√≥n de calificaciones:")
print(ratings['rating'].value_counts().sort_index())

üìä ESTAD√çSTICAS DE LAS CALIFICACIONES

count    100000.000000
mean          3.529860
std           1.125674
min           1.000000
25%           3.000000
50%           4.000000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

üìà Distribuci√≥n de calificaciones:
rating
1     6110
2    11370
3    27145
4    34174
5    21201
Name: count, dtype: int64